In [3]:
%pip install pandas
%pip install tabulate

Requirement already satisfied: pandas in /home/david/python_project/entorno_practica/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /home/david/python_project/entorno_practica/lib/python3.12/site-packages (from pandas) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/david/python_project/entorno_practica/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/david/python_project/entorno_practica/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/david/python_project/entorno_practica/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /home/david/python_project/entorno_practica/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: tabulate in /home/david/python_project/entorno_practica/lib/python3.12/site-packages (0.9.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
from tabulate import tabulate

# Datos del medallero de los Juegos Olímpicos de Río de Janeiro 2016
data = {
    'País': ['Estados Unidos', 'Reino Unido', 'China', 'Rusia', 'Alemania', 'Japón', 'Francia', 'Corea del Sur', 'Italia', 'Australia'],
    'Oro': [46, 27, 26, 19, 17, 12, 10, 9, 8, 8],
    'Plata': [37, 23, 18, 17, 10, 8, 18, 3, 12, 11],
    'Bronce': [38, 17, 26, 20, 15, 21, 14, 9, 8, 10],
    'Total': [121, 67, 70, 56, 42, 41, 42, 21, 28, 29]
}

# Crear el DataFrame
medallero_df = pd.DataFrame(data)

# Mostrar el DataFrame usando tabulate
print(tabulate(medallero_df, headers='keys', tablefmt='grid'))

+----+----------------+-------+---------+----------+---------+
|    | País           |   Oro |   Plata |   Bronce |   Total |
+====+================+=======+=========+==========+=========+
|  0 | Estados Unidos |    46 |      37 |       38 |     121 |
+----+----------------+-------+---------+----------+---------+
|  1 | Reino Unido    |    27 |      23 |       17 |      67 |
+----+----------------+-------+---------+----------+---------+
|  2 | China          |    26 |      18 |       26 |      70 |
+----+----------------+-------+---------+----------+---------+
|  3 | Rusia          |    19 |      17 |       20 |      56 |
+----+----------------+-------+---------+----------+---------+
|  4 | Alemania       |    17 |      10 |       15 |      42 |
+----+----------------+-------+---------+----------+---------+
|  5 | Japón          |    12 |       8 |       21 |      41 |
+----+----------------+-------+---------+----------+---------+
|  6 | Francia        |    10 |      18 |       14 |      42 |
+----+----------------+-------+---------+----------+---------+
|  7 | Corea del Sur  |     9 |       3 |        9 |      21 |
+----+----------------+-------+---------+----------+---------+
|  8 | Italia         |     8 |      12 |        8 |      28 |
+----+----------------+-------+---------+----------+---------+
|  9 | Australia      |     8 |      11 |       10 |      29 |
+----+----------------+-------+---------+----------+---------+

In [6]:
#Dataframe
print(medallero_df)

#metodo loc

             País  Oro  Plata  Bronce  Total
0  Estados Unidos   46     37      38    121
1     Reino Unido   27     23      17     67
2           China   26     18      26     70
3           Rusia   19     17      20     56
4        Alemania   17     10      15     42
5           Japón   12      8      21     41
6         Francia   10     18      14     42
7   Corea del Sur    9      3       9     21
8          Italia    8     12       8     28
9       Australia    8     11      10     29